# Ignorar archivos de caché de Python
__pycache__/
*.pyc

# Ignorar archivos de log
app.log
*.log

# Ignorar archivos JSON generados
# src/routes/*.json
*.json

# Ignorar archivos de requisitos
src/mongo-crud/requirements.txt
*.txt

# Ignorar entornos virtuales
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignorar archivos de configuración de IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de pruebas
*.egg-info/
dist/
build/