# Entorno virtual
env/
venv/
ENV/
env.bak/
venv.bak/

# Variables de entorno
.env

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Ignorar archivos de log
logs/
*.log
app.log

# Ignorar archivos JSON generados
# *.json

# Ignorar caché
# cache/

# Ignorar archivos de configuración de IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de pruebas
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/

# Node modules
node_modules/