<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Resultados de la Consulta</h1>
    <div class="result">
        <strong>Total de Autores:</strong>
        <span>{{ autores }}</span>
    </div>
    <div class="result">
        <strong>Total de Documentos:</strong>
        <span>{{ documentos }}</span>
    </div>
    <div class="result">
        <strong>Total de Documentos Afiliados:</strong>
        <span>{{ doc_afiliados }}</span>
    </div>
</body>
</html>
