<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Investigadores</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/darkly/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-4">
      <h1 class="mb-4">Gestión de Investigadores</h1>

      <form id="nuevo-investigador-form" enctype="multipart/form-data">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <select class="form-control" id="nombre" name="autor_id" required>
            <!-- Opciones de nombres de investigadores se cargarán aquí -->
          </select>
          <!-- Campo oculto para almacenar el ID del autor seleccionado -->
          <input type="hidden" id="nombre_autor" name="nombre" />
        </div>
        <div class="form-group">
          <label for="grado_academico">Grados Académicos:</label>
          <div id="grados_academicos_container">
            <input
              type="text"
              class="form-control grado_academico"
              name="grado_academico"
              required
            />
          </div>
          <button
            type="button"
            id="add-grado-academico"
            class="btn btn-secondary mt-2"
          >
            Agregar otro grado académico
          </button>
          <button
            type="button"
            id="remove-grado-academico"
            class="btn btn-secondary mt-2"
          >
            Eliminar último grado académico
          </button>
        </div>
        <div class="form-group">
          <label for="imagen">Imagen:</label>
          <input
            type="file"
            class="form-control-file"
            id="imagen"
            name="imagen"
            accept="image/*"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary" id="submit-btn">
          Agregar Investigador
        </button>
      </form>

      <h2 class="mt-5">Lista de Investigadores</h2>
      <div class="table-responsive">
        <table class="table table-dark">
          <thead>
            <tr>
              <th>ID del Autor</th>
              <th>Nombre del Autor</th>
              <th>Grados Académicos</th>
              <th>Imagen</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="investigadores-list">
            {% for investigador in investigadores %}
            <tr data-id="{{ investigador._id }}">
              <td>{{ investigador.autor_id }}</td>
              <td>{{ investigador.nombre }}</td>
              <td>
                {% for grado in investigador.grado_academico %}
                <p>{{ grado }}</p>
                {% endfor %}
              </td>
              <td><img src="{{ investigador.ruta_imagen }}" width="100" /></td>
              <td>
                <button
                  class="btn btn-warning btn-sm editar-investigador"
                  data-id="{{ investigador._id }}"
                >
                  Editar
                </button>
                <button
                  class="btn btn-danger btn-sm eliminar-investigador"
                  data-id="{{ investigador._id }}"
                >
                  Eliminar
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
      $(document).ready(function () {
        // Cargar nombres de autores desde la URL
        $.getJSON("http://127.0.0.1:5000/autor", function (data) {
          var select = $("#nombre");

          // Iterar sobre los autores y añadir opciones al select
          $.each(data.autores, function (id, autor) {
            select.append(
              $("<option></option>").attr("value", id).text(autor.name)
            );
          });

          // Manejar el cambio en la selección del autor
          select.change(function () {
            var selectedId = $(this).val();
            var selectedName = $("option:selected", this).text();
            $("#nombre_autor").val(selectedName); // Establecer el nombre del autor en el campo oculto
          });
        });

        // Añadir un nuevo campo de grado académico
        $("#add-grado-academico").click(function () {
          $("#grados_academicos_container").append(
            '<input type="text" class="form-control grado_academico mt-2" name="grado_academico" required />'
          );
        });

        // Eliminar el último campo de grado académico
        $("#remove-grado-academico").click(function () {
          if ($(".grado_academico").length > 1) {
            $(".grado_academico").last().remove();
          }
        });

        // Función para manejar la sumisión del formulario de nuevo investigador
        $("#nuevo-investigador-form").submit(function (e) {
          e.preventDefault();

          var formData = new FormData(this);
          var investigadorId = $("#investigador-id").val();

          var url = "/investigadores";
          var method = "POST";
          if (investigadorId) {
            url = "/investigadores/" + investigadorId; // URL para actualizar
            method = "PUT"; // Método para actualizar
          }

          $.ajax({
            type: method,
            url: url,
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
              location.reload(); // Recargar la página al éxito
            },
            error: function (error) {
              console.error("Error:", error);
            },
          });
        });

        // Manejar la eliminación de un investigador
        $(document).on("click", ".eliminar-investigador", function () {
          var investigadorId = $(this).data("id");

          $.ajax({
            type: "DELETE",
            url: "/investigadores/" + investigadorId,
            success: function (response) {
              location.reload(); // Recargar la página al éxito
            },
            error: function (error) {
              console.error("Error:", error);
            },
          });
        });

        // Manejo de la edición de un investigador
        $(document).on("click", ".editar-investigador", function () {
          var investigadorId = $(this).data("id");

          // Obtener los datos del investigador
          $.getJSON("/investigadores/" + investigadorId, function (data) {
            $("#nombre").val(data.autor_id); // Establecer el ID del autor en el select

            // Iterar sobre los autores y seleccionar el correcto
            $("#nombre option").each(function () {
              if ($(this).val() === data.autor_id) {
                $(this).prop("selected", true);
                var selectedName = $(this).text();
                $("#nombre_autor").val(selectedName); // Establecer el nombre del autor en el campo oculto
              }
            });

            // Limpiar los campos de grado académico existentes
            $("#grados_academicos_container").empty();

            // Llenar los campos de grado académico
            data.grado_academico.forEach(function (grado) {
              $("#grados_academicos_container").append(
                '<input type="text" class="form-control grado_academico mt-2" name="grado_academico" value="' +
                  grado +
                  '" required />'
              );
            });

            // Cambiar el texto del botón y configurar el método del formulario
            $("#submit-btn").text("Actualizar");
            $("#nuevo-investigador-form")
              .attr("action", "/investigadores/" + investigadorId) // URL para actualizar
              .attr("method", "PUT"); // Método para actualizar

            // Establecer el valor del campo de ID oculto
            $("#investigador-id").val(investigadorId);
          });
        });
      });
    </script>
  </body>
</html>
